img{
  width: 600px;
  height: 600px;
  position: absolute;

}

.rectangle{
  height: 100px;
  width: 100px;
  border-color: red;
  border-style: solid;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0;
  padding: 0;
}
.boundary{
  width: 600px;
  height: 600px;
}
body{
  display: flex;
  justify-content: center
}

